.home-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    row-gap: 30px;
    column-gap: 10%;
    margin: 50px 0;
    
}

.home-body {
    flex-grow: 1;
}

.home-event-card {
    width: 300px;
    height: 400px;
}

@media screen and (max-width: 1500px ) 
{
    .home-cards {
        justify-content: center;
    }
    
}