
.radio-input-selected {
    color: purple;
    font-size: 20px;
}

.radio-ip-box {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 20px;
}

.radio-ip  {
    column-gap: 20px;
        display: flex;
    align-items: center;

}
